#container {
    width: 980px;
    margin: 0 auto;
    padding: 0 2.25em;
}

#content {
    padding-bottom: 2000px;
    margin-bottom: 2.25em;
    background-image: url("../img/phony.png");
    background-position: center bottom;
    background-repeat: no-repeat;
}

.markdown-body {
    font-family: Lato, "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.markdown-body code,
.markdown-body pre,
.markdown-body .highlight pre,
.markdown-body kbd,
.markdown-body blockquote {
    font-family: Inconsolata, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.markdown-body code,
.markdown-body pre,
.markdown-body .highlight pre,
.markdown-body blockquote {
    font-size: 16px;
}

.markdown-body blockquote {
    padding: 1em;
    border: 1px solid #eee;
    border-left: 1em solid #eee;
    overflow: auto;
    white-space: nowrap;
}

.markdown-body hr {
    height: 1px;
    background-color: white;
}
